* { /* all element selector */
    box-sizing: border-box; /* border, within the width of the element */
  }


.back{
    top: 10px;
    left:20px;
    border-radius: 15px;
    justify-self: flex-end;
    margin-top: 5px;
    margin-left: 3vw;
    height: 5vh;
    width: 8vh;
    background-color: white;
    color: #FFB4B4;
    border-style: solid;
    border-color: white;
    border-bottom-color:#FFB4B4;
    transition: box-shadow;
    transition-duration: 0.4s;
    position: absolute;

}



button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}



.WebsiteHeadline h1{
    color: black;
    font-family: "Futura";
    letter-spacing: 15px;
    margin-top: 5px;
    font-size: 3em;
    font-weight: normal;
    /* display: flex; */
    width: fit-content;
    text-align:center;
    margin: auto;
    margin-bottom: 4vh;
    justify-self: center;
    
}

.WebsiteHeadline button{

    justify-self: flex-end;
    margin-top: 3vh;
    margin-left: 3vw;
    height: 5vh;
    width: 8vh;
    float: left;
    background-color: white;
    color: #FFB4B4;
    border-style: solid;
    border-color: white;
    border-bottom-color:#FFB4B4;
    transition: box-shadow;
    transition-duration: 0.4s;

}

button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Container {
    
    height: 80vh;
    border:solid;
    display: flex;
    justify-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 15px;
    border-color: #FFB4B4;
    transition: box-shadow;
    transition-duration: 0.4s;
    text-align: center;
    position: relative;

}

.Container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Picture {
    
    margin-top: 5vh;
    background-color: #FFFF00;
    width: 15vw;
    height: 35vh;
    box-shadow: 0 0 11px rgba(33,33,33,.2)

}

p{

    text-align: center;
    block-size: fit-content;
    margin: 1vw;
    margin-top: 45vh;
    position: absolute;
    font-family: "Futura";
    
}

.contact_container {

    margin-top: 60vh;
    position: absolute;
    /* height: 50px; */
    width: 60%;
    justify-content: space-around;
    display: flex;
    
}

.contact {
    
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    
}



/* ------------------------------------------------ BREAK POINT: Small Screen ------------------------------------------------*/

@media (max-width:1023px){

    .WebsiteHeadline h1{
        color: black;
        font-family: "Futura";
        letter-spacing: 15px;
        margin-top: 5px;
        font-size: 2em;
        font-weight: normal;
        /* display: flex; */
        width: fit-content;
        text-align:center;
        margin: auto;
        margin-bottom: 4vh;
        justify-self: center;
        
    }
    
    .WebsiteHeadline button{
    
        justify-self: flex-end;
        margin-top: 1vh;
        margin-left: 1vw;
        height: 6vh;
        width: 8vh;
        float: left;
        background-color: white;
        color: #FFB4B4;
        border-style: solid;
        border-color: white;
        border-bottom-color:#FFB4B4;
        transition: box-shadow;
        transition-duration: 0.4s;
        font-size: 12;
    
    }
    
    button:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    
    .Container {
        
        height: 70vh;
        border:solid;
        display: flex;
        justify-content: center;
        margin-left: 20vw;
        margin-right: 20vw;
        border-radius: 15px;
        border-color: #FFB4B4;
        transition: box-shadow;
        transition-duration: 0.4s;
        text-align: center;
        position: relative;
        
    
    }
    
    .Container:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    
    .Picture {
        
        margin-top: 5vh;
        background-color: #FFFF00;
        width: 30vw;
        height: 40vh;
        box-shadow: 0 0 11px rgba(33,33,33,.2)
    
    }
    
    p{
    
        text-align: center;
        block-size: fit-content;
        margin: 1vw;
        margin-top: 48vh;
        position: absolute;
        font-family: "Futura";
        font-size: 14;
        
    }
    
    .contact_container {
    
        margin-top: 60vh;
        position: absolute;
        /* height: 50px; */
        width: 70%;
        justify-content: space-around;
        display: flex;
        
        
    }
    
    .contact {
        
        width: 40px;
        height: 40px;
        box-sizing: content-box;
        
    }
    

}


/* ------------------------------------------------ BREAK POINT: MOBILE DEVICE ------------------------------------------------*/

@media (max-width: 400px){

    .WebsiteHeadline h1{
        color: black;
        font-family: "Futura";
        letter-spacing: 15px;
        margin-top: 5px;
        font-size: 1.5em;
        font-weight: normal;
        /* display: flex; */
        width: fit-content;
        text-align:center;
        margin: auto;
        margin-bottom: 4vh;
        justify-self: center;
        
    }
    
    .WebsiteHeadline button{
    
        justify-self: flex-end;
        margin-top: 1vh;
        margin-left: 1vw;
        height: 4vh;
        width: 5vh;
        float: left;
        background-color: white;
        color: #FFB4B4;
        border-style: solid;
        border-color: white;
        border-bottom-color:#FFB4B4;
        transition: box-shadow;
        transition-duration: 0.4s;
        font-size: 7;
    
    }
    
    button:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    
    .Container {
        
        height: 70vh;
        border:solid;
        display: flex;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 15px;
        border-color: #FFB4B4;
        transition: box-shadow;
        transition-duration: 0.4s;
        text-align: center;
        position: relative;
        
    
    }
    
    .Container:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    
    .Picture {
        
        margin-top: 5vh;
        background-color: #FFFF00;
        width: 40vw;
        height: 25vh;
        box-shadow: 0 0 11px rgba(33,33,33,.2)
    
    }
    
    p{
    
        text-align: center;
        block-size: fit-content;
        margin: 1vw;
        margin-top: 35vh;
        position: absolute;
        font-family: "Futura";
        font-size: 14;
        
    }
    
    .contact_container {
    
        margin-top: 55vh;
        position: absolute;
        /* height: 50px; */
        width: 80%;
        justify-content: space-around;
        display: flex;
        
        
    }
    
    .contact {
        
        width: 30px;
        height: 30px;
        box-sizing: content-box;
        
    }
    
}
