html, body {
  margin: 0
}

.WebsiteHeadline {

  color: black;
  text-align: center;
  font-family: "Futura";
  letter-spacing: 25px;
  font-weight: normal;
  display: flex;
  align-items: center;
  height: 5rem;

}
.WebsiteHeadline button {
  justify-self: flex-end;
  
  
}
.WebsiteHeadline h1 {
  margin: auto;
  font-weight: normal;
  font-size:3rem;
  justify-self: center;
}

.column img:hover{
  
  transition-duration: 0.4s;
  box-shadow: 0 0 11px black;
  
}
.column span{

  color:#FFB4B4;
  text-align: center;
  font-family: "Futura";
  letter-spacing: 25px;
  font-size:50px;
  
 
}

.column {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 1vh;
  margin-top: 1rem;
  transition: box-shadow;
  margin: none;
  
}

.row {
  width: 100vw;
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}



.column div {
  width: 100%
}
.column img {

  width: 100%
  
}

.error {

  opacity: 0;

  font-size: 50px;
  color: red;
  font-weight: 300;
  text-align: center;
  animation : fadeIn 5s;
  position: absolute;
  width: 100vw;
  z-index: 5;
  font-family: "Futura";
  letter-spacing: 10px;

  animation-iteration-count: 1;
  

}

@keyframes fadeIn {

  from {opacity: 1;}
  to {opacity: 0; }

}

#back_top {
  position: absolute;
  bottom: 10px;
  background-color: #FFB4B4;
  color: white;
  border-radius: 15px;
  border: none;
  z-index: 10;
  width: 100px;
  height:30px;
  transition: box-shadow;
  align-items: center;
  position: fixed;
  bottom: 3%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#button_holder {
  justify-content: center;
  background-color: red;
  position: relative
  
}
#back_top:hover{
  transition-duration: 0.4s;
  box-shadow: 0 0 11px black;
}


/* ------------------------------------------------ BREAK POINT: MOBILE DEVICE ------------------------------------------------*/
@media screen and (max-width: 400px){
  
  
  .row {
    flex-direction: column
  }
  .column {
    width: 100%;


  }

  .WebsiteHeadline h1{
    color: black;
    font-family: "Futura";
    letter-spacing: 15px;
    font-size:1.5rem;
    font-weight: normal;
    display: flex;
    width: fit-content;
    text-align:center;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-left: 3rem;
    margin-bottom: 4vh;
    justify-self: center;
    position: absolute;
    
  }

  .column span{

    color:#FFB4B4;
    text-align: center;
    font-family: "Futura";
    letter-spacing: 15px;
    font-size:30px;
    
  }

  .menu {
    border: none;
    background:none;
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
    z-index: 10;
    transition-duration: 0.1s;
  }
  .menu:active {
    transform: scale(0.9);
  }

  .MenuBox span {
    font-size : 1.5rem;
    margin-top: 4rem;
    font-family: "Futura";
    letter-spacing: 1rem;
  }
  .MenuBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    height: 100vh; 
    width: 100vw; 
    background-color: white;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3); 
    z-index: 2;

    transition-duration: 0.3s;

    transform:translateX(-100%);
  }
  .MenuBox--open {
    transform: translateX(0);
  }

  .MenuBox a{
    
    text-align: center;
    font-family: "Futura";
    letter-spacing: 0.3em;
    font-size: 1rem;
    margin-top: 4rem;
    border-bottom: 1px solid transparent;
    
    transition-duration: 0.1s;
    cursor: pointer;
  }
  /* .MenuBox a:hover {
    border-color: black;
    
  } */
  /* pseudo element */
  .MenuBox a::after {
    /* must have when using sudo elements */
    content: "";
    width: 0;
    height: 1px;
    background: black;
    
    display: block;

    transition-duration: 0.3s;
  }
  /* Because of the change of width from,".MenuBox a::after" to ".MenuBox a::after" { the Block generates */
  .MenuBox a:hover::after {
    width: 97%;
  }
}
/* ------------------------------------------------ BREAK POINT: Small Screen ------------------------------------------------*/

@media screen and (min-width: 400px) and (max-width:1023px){
  .row {
    flex-direction: column
  }
  .column {
    width: 100%;
    margin-top:5vh;


  }

  .WebsiteHeadline {

    color: black;
    text-align: center;
    font-family: "Futura";
    letter-spacing: 25px;
    font-weight: normal;
    display: flex;
    align-items: center;
    height: 5rem;
  
  }
  .WebsiteHeadline button {
    justify-self: flex-end;
  
  }
  .column span{

    color:#FFB4B4;
    text-align: center;
    font-family: "Futura";
    letter-spacing: 25px;
    font-size:45px;
    
  }


  .menu {
    border: none;
    background:none;
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
    z-index: 10;
    transition-duration: 0.1s;
  }
  .menu:active {
    transform: scale(0.9);
  }

  .MenuBox span {
    font-size : 1.5rem;
    margin-top: 4rem;
    font-family: "Futura";
    letter-spacing: 1rem;
  }
  .MenuBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    height: 100vh; 
    width: 30vw; 
    background-color: white;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3); 
    z-index: 2;

    transition-duration: 0.3s;

    transform:translateX(-100%);
  }
  .MenuBox--open {
    transform: translateX(0);
  }

  .MenuBox a{
    
    text-align: center;
    font-family: "Futura";
    letter-spacing: 0.3em;
    font-size: 1rem;
    margin-top: 4rem;
    border-bottom: 1px solid transparent;
    
    transition-duration: 0.1s;
    cursor: pointer;
  }
  /* .MenuBox a:hover {
    border-color: black;
    
  } */
  /* pseudo element */
  .MenuBox a::after {
    /* must have when using sudo elements */
    content: "";
    width: 0;
    height: 1px;
    background: black;
    
    display: block;

    transition-duration: 0.3s;
  }
  /* Because of the change of width from,".MenuBox a::after" to ".MenuBox a::after" { the Block generates */
  .MenuBox a:hover::after {
    width: 97%;
  }

}

@media screen and (min-width:1024px){
  
  .menu {
    border: none;
    background:none;
    width: 4rem;
    height: 4rem;
    margin-left: 3rem;

    z-index: 10;

    transition-duration: 0.1s;
  }
  .menu:active {
    transform: scale(0.9);
  }

  .MenuBox span {
    font-size : 2rem;
    font-family: "Futura";
    letter-spacing: 1rem;
  }
  .MenuBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    height: 100vh; 
    width: 25vw; 
    background-color: white;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3); 
    z-index: 2;

    transition-duration: 0.3s;

    transform:translateX(-100%);
  }
  .MenuBox--open {
    transform: translateX(0);
  }

  .MenuBox a{
    
    text-align: center;
    font-family: "Futura";
    letter-spacing: 0.3em;
    font-size: 1rem;
    margin-top: 3rem;
    border-bottom: 1px solid transparent;

    transition-duration: 0.1s;
    cursor: pointer;
  }
  /* .MenuBox a:hover {
    border-color: black;
    
  } */
  /* pseudo element */
  .MenuBox a::after {
    /* must have when using sudo elements */
    content: "";
    width: 0;
    height: 1px;
    background: black;
    
    display: block;

    transition-duration: 0.3s;
  }
  /* Because of the change of width from,".MenuBox a::after" to ".MenuBox a::after" { the Block generates */
  .MenuBox a:hover::after {
    width: 97%;
  }

  .column span{

    color:#FFB4B4;
    text-align: center;
    font-family: "Futura";
    letter-spacing: 25px;
    font-size:25px;
    position: absolute;
    
  }
}




.idea-info {
  display: none;

  background: red;
}

.idea-info--expanded {

  display: block;


}

.grid-container > * {

  width: 100%!important;
  height: 100%;
}
.grid-container {
  
  margin-top: 20vh;
  display: grid;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  row-gap: 10px;
  column-gap: 10px;
  outline: none;
  grid-auto-rows: minmax(100px, auto);
  transition: box-shadow;
  justify-items: center;
  grid-template-areas: 
  "one two"
  "one three"
  "four three"
  "four three";
  

}
.item1 {
  
  grid-area: one;
  display: block;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFB4B4;
  border-width: 5px;
  border-radius: 25px;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20vh
  
  

}

.item2 {

  grid-area: two;
  display: block;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFB4B4;
  border-width: 5px;
  border-radius: 25px;
  outline: none;
  text-align:center;
  
  
  

}

.item3 {

  grid-area: three;
  display: block;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFB4B4;
  border-width: 5px;
  border-radius: 25px;
  outline: none;
  text-align: center;
  
  
}


.item4 {

  grid-area: four;
  display: block;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFB4B4;
  border-width: 5px;
  border-radius: 25px;
  outline: none;
  text-align: center;
  

}

