.WebsiteHeadline h1{
    color: black;
    font-family: "Futura";
    letter-spacing: 15px;
    margin-top: 5px;
    font-size: 3em;
    font-weight: normal;
    /* display: flex; */
    width: fit-content;
    text-align:center;
    margin: auto;
    margin-bottom: 4vh;
    justify-self: center;
    
}

.WebsiteHeadline button{

    justify-self: flex-end;
    margin-top: 3vh;
    margin-left: 3vw;
    height: 5vh;
    width: 8vh;
    float: left;
    background-color: white;
    color: #FFB4B4;
    border-style: solid;
    border-color: white;
    border-bottom-color:#FFB4B4;
    transition: box-shadow;
    transition-duration: 0.4s;
    
    

}

.grid-container {

    
    font-family: "Futura";
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    height: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    outline: none;
    grid-auto-columns: minmax(100px, auto);
    transition: box-shadow;
    grid-template-areas: 
    "one two"
    "one three"
    "four three"
    "four three";
    

}




.item1 {
    
    grid-area: one;
    display: block;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFB4B4;
    border-width: 5px;
    border-radius: 25px;
    outline: none;
    align-items: center;
    justify-content: center;
    max-width: 40vw;
    
}

.item2 {

    grid-area: two;
    display: block;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFB4B4;
    border-width: 5px;
    border-radius: 25px;
    outline: none;
    text-align:center;

    
}

.item3 {

    grid-area: three;
    display: block;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFB4B4;
    border-width: 5px;
    border-radius: 25px;
    outline: none;
    text-align: center;
    
}


.item4 {

    grid-area: four;
    display: block;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: #FFB4B4;
    border-width: 5px;
    border-radius: 25px;
    outline: none;
    text-align: center;

}

.back{
    top: 10px;
    left:20px;
    border-radius: 15px;
    justify-self: flex-end;
    margin-top: 5px;
    margin-left: 3vw;
    height: 5vh;
    width: 8vh;
    background-color: white;
    color: #FFB4B4;
    border-style: solid;
    border-color: white;
    border-bottom-color:#FFB4B4;
    transition: box-shadow;
    transition-duration: 0.4s;
    position: absolute;

}

button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

