{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
<div class="WebsiteHeadline">

  <button class="menu" onclick="history.back()" >
    Go back
  </button>
    <h1>About me</h1>

</div>

<div class="Container">
    
    <div class="Picture">MICHI</div>

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo libero recusandae ut ducimus! Omnis, deleniti ex perferendis iste quidem neque natus cupiditate et animi ullam sunt labore eaque eveniet?</p>
    
    <div class = "contact_container">

        <a href="mailto:markus.klepping@code.berlin"" > 
            <img  src="static/Pictures/gmail.png"  class="contact"></img>
        </a>


        <a href="https://www.instagram.com/_markvz_/" >
            <img  src="static/Pictures/instagram.png" class="contact" ></img>
        </a>


        <a href="https://www.linkedin.com/in/markus-klepping-5b2377223" >
            <img  src="static/Pictures/linkedin.png"  class="contact"></img>
        </a>

    </div>

    
</div>





{% endblock %}