{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutme.css') }}">

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
<div class="WebsiteHeadline">

  <button class="back" onclick="history.back()" >
    Go back
  </button>
    <h1>About me</h1>


    
</div>

<div class="Container">
    
    <div>
        <img  src="static/Pictures/myself.jpg"  class="Picture"></img>
    </div>

    
    <p>
        Hi! I am Markus, a Software Engineering Student at the <a href="https://code.berlin/en/">CODE University</a> 
        of Applied Science in Berlin.
        I am passionated about Innovative Ideas, Founding and the Financial Market.
        Contact me and we can have a chat!

    </p>
    
    <div class = "contact_container">

        <a href="mailto:markus.klepping@code.berlin"" > 
            <img  src="static/Pictures/gmail.png"  class="contact"></img>
        </a>


        <a href="https://www.instagram.com/_markvz_/" >
            <img  src="static/Pictures/instagram.png" class="contact" ></img>
        </a>


        <a href="https://www.linkedin.com/in/markus-klepping-5b2377223" >
            <img  src="static/Pictures/linkedin.png"  class="contact"></img>
        </a>

    </div>

    
</div>





{% endblock %}