{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>


{% endblock %}


{% block body %}
<div class="WebsiteHeadline">

    <button class="back" onclick="history.back()" >
        Go back
    </button>

    <h1>Sign Up</h1>


        
</div>



<form class = "Container" method="POST"> 


    </div>

    <div class="namediv">

        <p class = name_to_input></p>
        <input type="text" name="email"  placeholder="Email" >

    </div>

    <hr>
        <p></p>

    <div class="namediv">

        <p class = name_to_input></p>
        <input type="text" name="username"  placeholder="Username" >

    </div>  

    <hr>
        <p></p>

    <div class ="namediv">

            <p class = name_to_input></p>
            <input class="input" type="password" name="password"  placeholder="Password">

    </div> 
    <hr>
        <p></p>

    
    <div>
        <input type="submit" class="button" value="Sign up!" name="submit"></input> 
    </div>

        <p></p>
        
    <hr id ="signup_line">
</form>


{% if error %}

    <p class= "error" style ="color:red" >{{error}}</p>
    
{% endif %}

{% endblock %}