{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
<div class="WebsiteHeadline">

    <h1>Add an Idea</h1>

</div>

<div class = "grid-container">

  <!-- -------------------------------------------------------------------------- -->
    <input type="file" name="" class="item1" placeholder="Add Pictures">

  <!-- -------------------------------------------------------------------------- -->

  <input type="text" name="" class="item2" placeholder="Describe your Idea">

  <!-- -------------------------------------------------------------------------- -->

  <input type="text" name="" class="item3" placeholder="Introduce your Team">

  <!-- -------------------------------------------------------------------------- -->

  <input type="text" name="" class="item4" placeholder="Add your Contact-Data">

</div>

    {% endblock %}