{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
<div class="WebsiteHeadline">

  <button class="menu" onclick="history.back()" >
    Go back
  </button>
    <h1>Add an Idea</h1>

</div>



<div class = "grid-container">

  <!-- -------------------------------------------------------------------------- -->

    <input type="text" name="title" class="item1" placeholder="Add a Title">

  <!-- -------------------------------------------------------------------------- -->

    <input type="text" name="idea" class="item2" placeholder="Describe your Idea">

  <!-- -------------------------------------------------------------------------- -->

    <input type="text" name="team" class="item3" placeholder="Introduce your Team">

  <!-- -------------------------------------------------------------------------- -->

    <input type="text" name="contact" class="item4" placeholder="Add your Contact-Data">



</div>

<div> 

  <div>
      <input type="submit" class="upload_button" value="Load Up!" name="load_up"></input> 
      <hr id="Upload-line">
  </div>

</div>



{% endblock %}